<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Random Background Color</title>
  <style>
    h1 { color: white; text-align: center; font-family: sans-serif; }
  </style>
</head>
<body>
  <h1 id="c">#ffffff</h1>
  <script>
    var c = '#' + Math.floor(Math.random() * 16777215).toString(16);
    document.body.style.background = c;
    document.getElementById('c').innerHTML = c;
  </script>
</body>
</html>
